.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('wallpaper.jpg') fixed no-repeat;
    background-size: cover;
}

.formput {
    width: 440px;
    height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    position: relative;
    z-index: 0;
    background: inherit;
    border-radius: 18px;
    overflow: hidden;
}

.formput::before {
    content: " ";
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    position: absolute;
    top: -10px;
    left: -10px;
    background: inherit;
    filter: blur(16px);
    z-index: -1;
    overflow: hidden;
}

.formput h2 {
    font-size: 18px;
    font-weight: 36px;
    color: #3d5245
}

.formput input,
        .formput button {
            margin: 6px 0;
            height: 36px;
            border: none;
            background-color: #fff;
            border-radius: 5px;
            padding: 0 14px;
            color: black
        }

        button:hover {
            background-color: grey;
        }